h1 {
    color: #1f6bdc;
    font-weight: normal;
}

header {
    background: orange;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -2px 2px 15px 5px #828282;
}

h1, h2, h3 { font-weight: normal ;}

html {
    font-size: 16px;
    font-family: 'Baloo Bhaina 2', cursive;
}

h2 {    font-size: 1.5em; }
h1 {    font-size: 2em; }

body {
    background-color: #581fdc87;
}

ul {
    list-style: none;
    padding-left: 10px;
}

li {
    background-image: url(https://robohash.org/1?set=set4);
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 18px;
}