table {
    width: 100%;
    border: 1px solid #a9a9a9;
    border-collapse: collapse;
    min-width: 1100px;

}

tr:first-child {
    background: darkgreen;
    color: white;
    text-align: left;
}

th, td {
    line-height: 1.5;
}

th:first-child, td:first-child {
    width: 200px;
}

th:nth-child(2), td:nth-child(2) {
    width: 200px;
}

tr:nth-child(2n) {
    background: #a9a9a9;
}

tr:nth-child(2n + 3) {
    background: #f2f2f2;
}

tr:last-child {
    font-weight: bold;
}