.square {
    width: 100px;
    height: 100px;
    background: crimson;
}

.circle {
    width: 100px;
    height: 100px;
    background: crimson;
    border-radius: 50px;
}

.container {
    background-color: lightskyblue;
    width: 400px;
    height: 300px;
    position: relative;
}

.container div {
}

.container div:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 20px;
}

.container div:nth-child(2) {
    position: absolute;
    top: 20px;
    right: 20px;
}

.container div:nth-child(3) {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 25px);
}
