.square {
    width: 100px;
    height: 100px;
    background: crimson;
}

.circle {
    width: 100px;
    height: 100px;
    background: crimson;
    border-radius: 50px;
}

.container {
    background-color: lightskyblue;
    width: 600px;
    height: 300px;
}

.container {
    position: relative;
}

.container div {
}

.container div:nth-child(1) {
    position: absolute;
    left: 50px;
    top: 30px;
    background: blue;;
}

.container div:nth-child(2) {
    position: absolute;
    right: 50px;
    top: 30px;
    background: blue;;    
}

.container div:nth-child(3) {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 50px);
}
