.painter {
    display: flex;
    height: 100vh;
}

body, html { padding: 0; margin: 0; }

.sidebar {
    max-width: 200px;
    flex: 1;
    border-right: 1px solid black;
}

.paint-area {
    flex: 1;
}

.paint-area svg {
    width: 100%;
    height: 100%;
}

.sidebar svg {
    display: block;
}

circle {
    fill: blue;
}